node_modules/

env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*

.DS_Store

*.log

.vscode/

.next/

# Other
*.sqlite3
*.db

frontend/.next/
frontend/node_modules

*.pdf
*.docx
*.xlsx
*.csv

coverage/

*.swp
*.swo
*.pem